{% extends "layout.html" %}

{% block content %}
  <p>
    Irrduino Server provides on-demand watering controls and water use
    reporting for a connected Irrduino sprinkler controller.
  </p>
    
  <p>This site is built using the following technologies:</p>

  <ul>
    <li>Python</li>
    <li>Dart</li>
    <li>Google App Engine</li>
    <li>HTML5</li>
    <li>Google Charting Tools</li>
  </ul>

  <p>
    Project contributors:
  </p>

  <ul>
    <li>Joe Fernandez</li>
    <li>JJ Behrens</li>
  </ul>
  
  <p>And now for something <a href="javascript:window.open('/lawnville', 'lawnville', 
  'width=800, height=600, status=no, toolbar=no, menubar=no, location=no, resizable=no, 
  scrollbars=no')">completely different</a>.</p>
{% endblock %}