<!DOCTYPE html>
<html lang=en>
  <head>
    <title>LawnVille</title>
    <style type=text/css>
      body {
        font-family: Helvetica, Arial, sans-serif;
        background: #ffffff;

        /* See: http://stackoverflow.com/questions/1994945/how-to-do-window-open-with-no-scrollbars-in-google-chrome */
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
      }

      img {
        border: 0;
      }
    </style>
  </head>

  <body>
    <img src=/static/images/map.png width=800 height=600 alt=map>
  </body>
</html>