<!DOCTYPE html>
<html lang=en>
  <head>
    <title>{% block title %}Irrduino{% endblock %}</title>
    <link rel=stylesheet href=/static/css/layout.css type=text/css>
    <script src=//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js type=text/javascript></script>
    <script src=//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js type=text/javascript></script>
    {% block javascript_head %}{% endblock %}
  </head>

  <body>
    <h1 id="title">Irrduino Server</h1>
    <div id="main-container">
      {% if action_results %}
        <ul>
        {% for msg in action_results %}
          <li>{{ msg|escape }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
