{% extends "layout.html" %}

{% block content %}
  <p>
    Welcome to the Irrduino Server site!
  </p>
  
  <p>
    The buttons below allow you to activate or shutdown the sprinkler system on 
    demand.
  </p>

  <!-- TODO: This is just some sample code to test things out. -->
  {% if status %}
    <p>Status: {{ status|escape }}</p>
  {% endif %}

  <form action="" method=post>
    <table>
    <tr>
    <td valign="top">
    <input type=submit name=get-system-status value="Get System Status"><br>
    <input type=submit name=turn-off-everything value="Turn Off Everything">
    </td>
    <td valign="top">
    <input type=submit name=water-zone-1 value="Water Zone 1 for 1 Minute"><br>
    </td></tr>
    <table>
  </form>

  <p>
    Check out the <a href="/reports">reports page</a> too.
  </p>
{% endblock %}