{{define "About"}}
  {{template "LayoutHeader" .}}
    <p>
      Irrduino Server provides on-demand watering controls and water use
      reporting for a connected Irrduino sprinkler controller.
    </p>

    <p>This site is built using the following technologies:</p>

    <ul>
      <li>Go</li>
      <li>Dart</li>
      <li>Google App Engine</li>
      <li>HTML5</li>
      <li>Google Charting Tools</li>
    </ul>

    <p>
      Project contributors:
    </p>

    <ul>
      <li>Joe Fernandez</li>
      <li>JJ Behrens</li>
    </ul>
  {{template "LayoutFooter" .}}
{{end}}
